* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fdfeff;
  font-family: "Open Sans", sans-serif;
}

.full-width {
  width: 100%;
  position: relative;
}

.hosting-header {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.nav-menulist {
  list-style: none;
}
.logo-img img {
  width: 100px;
}

.hosting-navbarDiv,
.herosection-div {
  max-width: 1250px !important;
  margin: 0 auto !important;
}

.container {
  max-width: 1250px !important;
  margin: 0 auto !important;
}

.service-Div {
  max-width: 1250px !important;
  margin: 0 auto !important;
}

.nav-links {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 600;
  color: #878787;
}
.nav-links.active {
  color: #000;
}

.reg-btn {
  position: relative;
  padding: 14px 30px;
  background: #ffffff;
  border-radius: 10px;
  /* border: 2px; */
  color: #0566ea;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid #0566ea;
}

.reg-btn:hover {
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  color: #ffffff;

  border: none;

  box-shadow: 0px 0px 20px 2px rgb(5 102 234 / 20%);
  cursor: pointer;
}

/* 
.herosection-div{
    height: 80vh;
} */

.hero-title {
  font-size: 3.4rem;
  color: #2c2c2c;
}

.hero-desc {
  font-weight: 500;
  color: #878787;
  line-height: 30px;
  margin-top: 30px;
}
.choose-pkgbtn {
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  color: #ffffff;
  padding: 15px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  box-shadow: 0px 0px 20px 2px rgb(5 102 234 / 20%);
  cursor: pointer;
}

.hero-img {
  width: 650px;
  padding: 50px;
}

.service-toplef,
.service-topright {
  width: 50%;
}
.service-topleft {
  font-size: 3.1rem;
  color: #14263f;
  text-transform: capitalize;
}
.service-topright {
  font-weight: 500;
  color: #878787;
  line-height: 30px;
  margin-top: 30px;
}

.service-img {
  width: 60px;
  padding-bottom: 30px;
}

.service-title {
  font-size: 1.5rem;
  color: #213958;
  padding-bottom: 30px;
}

.service-details {
  font-size: 14px;
  line-height: 27px;
  color: #9ba0ac;
  padding-bottom: 30px;
  border-radius: 10px;
}

.service-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  gap: 40px;
  justify-content: center;
}
.service-card {
  background-color: #ffffff;
  padding: 20px;
}
.membership-pricing {
  background: linear-gradient(to right bottom, #08b4f6, #0566ea);
  width: 100%;
}

.pricing-wrapper {
  max-width: 1250px !important;
  margin: 0 auto !important;
  display: flex;
  text-align: left;
  gap: 20px;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

.priceing-card {
  background-color: #ffffff;
  color: #14263f;
  border-radius: 10px;
  width: 20rem;
  padding-left: 40px;
  overflow: hidden;
  position: relative;
}

.pricehead-title {
  font-size: 1.8rem;
  font-weight: 700;
  padding-bottom: 12px;
  padding-top: 30px;
}
.pricehead-subtitle {
  margin-bottom: 70px;
  color: #878787;
  font-size: 15px;
}

.pricing-details {
  list-style-type: none;
}

.detail-list {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #5d596c;
}

.detail-list span {
  margin-right: 20px;
  color: #20daaa;
  width: 15px;
  height: 15px;
  border: 3px solid #20daaa;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-list p {
  padding-bottom: 30px;
  font-weight: 600;
  font-size: 16px;
  color: #5d596c;
}
.priceing-bottom {
  text-align: center;
  margin-left: -40px;
  margin-top: 60px;
}
.card-price {
  font-size: 2rem;
}
.card-price span {
  color: #8787a0;
  margin-left: -8px;
}
.price-detail {
  color: #8d8a9c;
  font-weight: 600;
  margin-top: 15px;
  padding-bottom: 10px;
}

.plan-btn {
  padding: 13px 40px;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid;
  color: #11c0f8;
  font-size: 1.1rem;
  cursor: pointer;
  margin: 40px 0;
  box-shadow: 0 0 10px 8px rgb(5 102 234 / 10%);
}

.priceing-heading {
  font-size: 2.9rem;
  font-weight: 600;
  padding: 60px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.customer-feedback,
.register-wrapper,
.footer-Maindiv {
  max-width: 1250px;
  margin: 0 auto;
  padding: 50px 0;
}

.feedback-heading {
  font-size: 2.8rem;
  text-align: center;
  color: #14263f;
}

.feedback-subhead {
  text-align: center;
  padding-top: 20px;
  color: #b8b3cb;
  font-weight: 600;
  font-size: 15px;
  padding-bottom: 60px;
  text-align: center;
}

.review-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.review-cards:hover {
  box-shadow: 0 0 40px 20px rgb(66 79 98 / 5%);
}

.review-cards {
  padding: 0px 22px;
  width: 34rem;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  height: 300px;
}

.review-desc {
  line-height: 28px;
  text-align: left;
  color: #56565f;
  font-size: 15px;
  font-weight: 600;
  /* padding-bottom: 60px; */
  padding-top: 20px;
}

.user-reviewinfo {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

.user-img {
  width: 80px;
}

.user-name {
  margin-top: 17px;
  font-size: 1rem;
  color: #253853;
  font-weight: 700;
}

.user-role {
  line-height: 28px;
  text-align: left;
  color: #56565f;
  margin-top: -20px;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.register-div {
  background-image: url(./assets/footer-bg.svg);
  background-size: cover;
  height: 300px;
}
.register-left h4 {
  font-size: 2.7rem;
  color: #fff;
}

.register-left p {
  margin-top: 28px;
  color: #fff;
}

.register-right button {
  background-color: transparent;
  color: #ffffff;
  border: 1.4px solid #ffffff;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
}
.footer-Maindiv {
  justify-content: space-between;
}

.footer-logo {
  width: 100px;
}

.footer-desc {
  padding-top: 20px;
  color: #777777;
  font-size: 16px;
  line-height: 1.6;
}

.footer-links.footer-title {
  padding-bottom: 20px;
  font-size: 1.4rem;
  color: #14263f;
  font-weight: 600;
}

.footer-menus {
  list-style: none;
}

.footer-links {
  list-style-type: none;
  padding-bottom: 20px;
  color: #6e6e6e;
  font-size: 14px;
}

img.socil-icons {
  width: 35px;
  margin-right: 5px;
}
.d-none {
  display: none;
}

.hamburger {
  display: none;
}

.herosection-div {
  height: 85vh;
}

.hosting-navbarDiv {
  height: 100px;
}

.footer-div,
.footer-list {
  flex: 1 1 0;
}

.footer-list:nth-child() {
  display: flex;
  justify-content: center;
}

.footer-list.d-flex {
  width: 100%;
}

.mobile{
  display:none;
}


.sidenavMenu {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 80px;
  right: -1000px;
  background: #fff;
  overflow-x: hidden;
  transition: .8s;
}

.mob-menus div {
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
}
.hosting-nav {
  padding: 12px 0;
}
@media only screen and (max-width: 850px) {

  .mobile{
    display:block!important;
  }

  .feedback-heading{
    padding: 10px;
    font-size: 2.5;
  }
  .footer-Maindiv {
    flex-direction: column;

    align-items: center;
  }
  .hamburger {
    display: block;
  }
  .nav-menulist {
    display: none;
  }
  .herosection-div {
    height: 100vh !important;
    justify-content: start !important;
    flex-direction: column-reverse !important;
  }

  .hero-desc {
    margin-top: 10px !important;
  }

  .hero-img {
    width: 350px !important;
    padding: 10px !important;
  }

  .hero-leftdiv {
    width: 100%;
    text-align: center;
  }

  .hosting-nav {
    padding: 10px 15px;
  }

  img.logo-img {
    width: 114px;
  }

  .footer-div.top {
    display: flex;
    justify-content: space-around;
    margin: 26px 0;
    width: 100%;
    align-items: center;
  }

  .choose-pkgbtn {
    margin-top: 10px !important;
  }

  .best-quality {
    flex-direction: column;
    padding: 30px 0;
  }
  .service-top {
    flex-direction: column;
    padding: 30px 0;
    text-align: center;
  }

  .pricing-wrapper {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .service-toplef,
  .service-topright {
    width: 100%;
    padding: 16px;
  }

  .register-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .register-left p {
    margin: 20px 0;
  }

  .hamburger img {
    width: 25px;
  }

  .register-left {
    text-align: center;
  }
}

@media only screen and (max-width: 1170px) {
  .hero-title {
    font-size: 2rem !important;
    color: #2c2c2c;
  }

  .hero-img {
    width: 500px;
  }
  .herosection-div {
    justify-content: space-around;
  }

  .nav-links {
    padding: 0 15px !important;
  }
  .hero-desc {
    font-size: 15px;
  }
}
